src/.deps/
src/Debug/
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/config.h
src/config.h.in
src/config.log
src/config.status
src/config.guess
src/config.sub
src/compile
src/depcomp
src/install-sh
src/missing
src/configure
src/ipch/
src/ppremake
*.exe
*.o
src/stamp-h1
*Makefile
