src/.deps/
src/Debug/
src/Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config.guess
config.sub
compile
depcomp
install-sh
missing
configure
ipch/
src/ppremake
built/
*.exe
*.obj
*.lib
*.pdb
*.o
*.filters
*.user
stamp-h1
src/.vs
*Makefile
Makefile.in
src/x64
src/x86
x64
x86
.vs
