src/.deps/
src/Debug/
src/Makefile.in
src/aclocal.m4
src/autom4te.cache/
src/config.h
src/config.h.in
src/config.log
src/config.status
src/configure
src/ipch/
src/ppremake
*.exe
*.obj
*.lib
*.pdb
*.o
*.filters
*.user
src/stamp-h1
src/.vs
*Makefile
src/x64
src/x86